.img{
    height: 50px;
    width: 50px;
}
.navbar{
    display: flex;
    justify-content:space-between;
    background-color: black;
    color: aliceblue;
}

.home{
    padding-right: 10px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    color: aliceblue;
}
.home:hover{
    color: goldenrod;
}